.dropdown {
    display: inline-block;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border: 1px solid #B4B4B4;
    border-radius: 8px;
}
  
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-indent: 0.5em;
    z-index: 1;
    margin-top: 10px;
    margin-left: -80px;
    border-radius: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.dropdownContent p {
    height: 40px;   
    line-height: 2.2;
    cursor: pointer;
}

.dropdownContent p:hover {
    background-color: #cfcccc;
}
  
.dropdown:hover .dropdownContent {
    display: block;
}

@media only screen and (min-width: 768px) {
    .dropdown {
        display: none;
    }
}