
.connectBtn {
    font-size: 1em;
    line-height: 20px;
    color: #FFF;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}

.navLinks {
    font-size: 20px;
    line-height: 1.8em;
    color: #434343;
}

.heroHeading{
    font-style: normal;
    font-size: 56px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #434343;
}

.heroHeading strong {
    color: #A02279;
}

.input {
    margin: 0.1em;
    margin-top: 4em;
    box-sizing: border-box;
    border: 1px solid #A3A3A3;
    border-radius: 8px;
    height: 50px;
}

.input input {
    outline: none;
    height: 100%;
    text-indent: 1em;
}

.input input:hover {
    outline: none;
}

.input input::placeholder{
    text-indent: 1em;
}

.input button {
    border-radius: 0em 0.5em 0.5em 0em;
}

.input button {
    color: #FFF;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}

.company {
    height: 70px;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}

.headingTwo {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
}


.assetCard {
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border: 1px solid #D7D7D7;
    border-radius: 15px;
    max-width: 260px;
    max-height: 372px;
}

.assetCard .image {
    left: 16px;
    top: 16px;
    border: 1px solid #D7D7D7;
    border-radius: 15px;
}

.assetCard > div > text {
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    color: #434343;
}