
.connectBtn {
    font-size: 1em;
    line-height: 20px;
    color: #FFF;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}

.navLinks {
    font-size: 20px;
    line-height: 1.8em;
    color: #434343;
}

.heroHeading{
    font-style: normal;
    font-size: 38px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #434343;
}

.heroHeading strong {
    color: #A02279;
}

.input {
    margin: 0.1em;
    margin-top: 4em;
    box-sizing: border-box;
    border: 1px solid #A3A3A3;
    border-radius: 8px;
    height: 50px;
}

.input input {
    outline: none;
    height: 100%;
    text-indent: 1em;
}

.input input:hover {
    outline: none;
}

.input input::placeholder{
    text-indent: 1em;
}

.input button {
    border-radius: 0em 0.5em 0.5em 0em;
}

.input button {
    color: #FFF;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}

.company {
    height: 250px;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}

.headingTwo {
    font-weight: 700;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
}


.assetCard {
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border: 1px solid #D7D7D7;
    border-radius: 15px;
    width: 100%;
    height: fit-content;
}

.assetCard .image {
    width: 100%;
    border: 1px solid #D7D7D7;
    border-radius: 15px;
}

.assetCard > div > text {
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    color: #434343;
}

.cta {
    box-sizing: border-box;
    height: 774px;
    height: fit-content;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border: 1px solid #000000;
    color: #FFF;
}

.cta h2 {
    font-weight: 700;
    font-size: 38px;
    line-height: 60px;
}

.cta button {
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border-radius: 8px;
    color: #A02279;
}

.footer {
    background: #1D1D1E;
    color: #FFF;
    /* height:  322px; */
    height: fit-content;
}

.footer h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.location {
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border: 1px solid #B4B4B4;
    border-radius: 8px;
    height: 48px;
    width: 161px;
}

.overlay {
    background: rgba(64, 64, 64, 0.3);
}

.modal {
    background-color: #FFFFFF;
    max-width: 600px;
    width: 100%;
    height: 326px;
    border-radius: 16px;
    margin-left: 20px;
    margin-right: 20px;
}

.modalTitle {
    border-bottom: 1px solid #CFD8DC;
}

.modal h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}

.modal > div > div {
    border: 1px solid #CFD8DC;
    border-radius: 12px;
    height: 68px;
    cursor: pointer;
}

.modal > div > div:hover {
    border: 1px solid #CFD8DC;
}

@media only screen and (min-width: 640px) {
    .heroHeading{
        font-size: 28px;
        line-height: 140%;
    }

    .headingTwo {
        font-size: 28px;
    }
    
}

@media only screen and (min-width: 768px) {
    .heroHeading{
        font-size: 32px;
        line-height: 140%;
    }

    .company {
        height: 70px;
    }
}

@media only screen and (min-width: 1024px) {
    .heroHeading{
        font-size: 48px;
        line-height: 140%;
    }

    .headingTwo {
        font-size: 38px;
    }
}


@media only screen and (min-width: 1280px) {
    .heroHeading{
        font-size: 56px;
        line-height: 140%;
    }

    .headingTwo {
        font-size: 48px;
    }

    .cta h2 {
        font-size: 48px;
    }
    
    .cta button {
        color: #A02279;
    }
    


}